body {
    background-color: #EAF7F4;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: linear-gradient(135deg, #c2e9fb);
    color: #333;

}

header {
    border-bottom: 1px solid skyblue;
    padding: 0 0 20px 0;
}

.weather-app {
    background-color: skyblue;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.search-form-input {
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 80%;
    font-size: 12px;
    padding: 10px 10px;
}

.search-form-button {
    background-color: whitesmoke;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s;

}
.search-form-button:hover{
    background: #005dc1;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.weather-app-city {
    margin: 0 auto;
    font-size: 30px;
    line-height: 45px;
}

.weather-app-values {
    font-size: 12px;
    line-height: 20px;
}

.weather-app-values strong {
    color: palevioletred;
}

.weather-app-temp {
    display: flex;
}

.weather-app-temperature {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;

}

.weather-app-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}
.weather-icon {
    width: 75px;
    height: 75px;
    
    
    
}
.weather-app-temperature,
.weather-app-unit {
    display: inline-block;
    vertical-align: middle;

}

.weather-app-unit {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 28px;
    margin-left: 5px;
}
    




footer {
    border-bottom: 1px solid skyblue;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: #666;

}

a {
    color: palevioletred;
}